{% extends "base.html" %}

{% block content %}
<main class="main main-contact">
    <dl>
      <div class="contact">
        <dt>Email:</dt>
        <dd class="contact_details">
          <a class="contact-link" href="mailto:dimayar20061@gmail.com">
            dimayar20061 [at] gmail.com
          </a>
        </dd>
      </div>
      <div class="contact">
        <dt>Git:</dt>
        <dd class="contact_details">
          <a class="contact-link" href="http://github.com/iarynovskyi">
            @Iarynovskyi
          </a>
        </dd>
      </div>
      <div class="contact">
        <dt>Instagram:</dt>
        <dd class="contact_details">
          <a class="contact-link" href="https://www.instagram.com/dmitriiiarinovskii?igsh=MWs4cGdkdWVudjZwaQ%3D%3D&utm_source=qr">
            @Instagram
          </a>
        </dd>
      </div>
    </dl>
</main>
{% endblock %}